body{
    background-color: rgb(18, 31, 31);
}

.flex-container {
    flex-direction: column;
    min-width: 250px;
    background-color: rgb(18, 31, 31);
    /* width: 100vw; */
    /* height: 100vh; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: calc(40px + 0.4dvw + 0.4dvh);
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-size: calc(10px + 0.4dvw + 0.4dvh);
}