.flex-container {
    flex-direction: column;
    min-width: 250px;
    background-color: rgb(18, 31, 31);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}   