body {
    background-color: rgb(18, 31, 31);
    margin: 0px;
}

#root {
    box-sizing: border-box;

    margin-top: 1dvh;
    box-sizing: border-box;
    height: 100%;

    flex-direction: column;
    min-width: var(--var-min-width);
    background-color: rgb(18, 31, 31);

    display: flex;
    align-items: center;
    justify-content: center;
}


.app-title {
    margin-top: 2dvh;
}