/* Good until about 750px width */
.flashcard-handler {
    width: 100vw;
    height: 70%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.control-bar {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    min-width: 600px;
    width: 30%;
    border-radius: 10px;
    box-sizing: border-box;
}

.control-buttons {
    font-size: 20px;
    min-height: 40px;
    border-radius: 5px;
    min-width: fit-content;
    width: 10%;
    font-size: calc(16px + 0.4dvw + 0.4dvh);
}