.overlay-window{
    z-index: 2;
    position: absolute;
    min-width: 50%;
    min-height: 60%;
    background-color: rgb(22, 22, 22);
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
}

.background-blur{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(146, 146, 146);
    opacity: 90%;
    filter: blur(12px);
}

.overlay-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}