.overlay-window{
    z-index: 2;
    position: absolute;

    width: 50%;
    min-width: 300px;
    /* height: 60%; */
    min-height: 500px;

    background-color: rgb(22, 22, 22);
    border: 1px solid white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-blur{
    z-index: 1;
    position: absolute;
    top: 0;

    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    
    background-color: rgb(31, 31, 31);
    opacity: 75%;
    filter: blur(12px);
}

.overlay-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.overlay-input-section{
    display: inherit;
    flex-direction: inherit;
    text-align: center;
    width: 80%;
}

.overlay-textarea{
    margin-bottom: 20px;
    resize: vertical;
}

.overlay-button{
    margin-top: 10px;
    margin-bottom: 20px;
}

.overlay-checkbox{
    align-self: center;
}