/* For use in any file, alternative to bootstrap since it was used very little */

*{
    font-family: Arial, Helvetica, sans-serif;
}

.text-white{
    color: white;
}

/* spacing */
.mt-0{
    margin-top: 0;
}

.mb-0{
    margin-bottom: 0;
}

.my-1{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* font sizes */
.ft-5{
    font-size: calc(3rem + 0.5dvw);
    margin-top: 10px;
    margin-bottom: 10px;
}

.ft-3{
    font-size: calc(1.4rem + 0.5dvw);
}

.ft-2{
    font-size: calc(1.2rem + 0.5dvw);
}

.ft-1{
    font-size: calc(1rem + 0.5dvw);
}

/* width and height with the same scaling as the font */
.wh-1{
    width: calc(1rem + 0.5dvw);
    height: calc(1rem + 0.5dvw);
}

.horizontal-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.horizontal-container *{
    margin: 10px;
}

.self-center{
    align-self: center;
}

/* Responsive width */
.responsive-width{
    width: 50% !important;
}

@media only screen and (max-width: 1400px){
    .responsive-width{
        width: 75% !important;
    }
}

@media only screen and (max-width: 700px){
    .responsive-width{
        width: 90% !important;
    }
}