/* For use in any file, alternative to bootstrap since it was used very little */

*{
    font-family: Arial, Helvetica, sans-serif;
}

.text-white{
    color: white;
}

/* spacing */
.mt-0{
    margin-top: 0;
}

.mb-0{
    margin-bottom: 0;
}

.my-1{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* font sizes */
.ft-5{
    font-size: calc(60px + 0.4dvw);
    margin-top: 10px;
    margin-bottom: 10px;
}

.ft-3{
    font-size: calc(20px + 0.4dvw);
}

.ft-2{
    font-size: calc(18px + 0.4dvw);
}

.ft-1{
    font-size: calc(16px + 0.4dvw);
}

.horizontal-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.horizontal-container *{
    margin: 10px;
}

.responsive-width{
    width: 55% !important;
}

@media only screen and (max-width: 1200px){
    .responsive-width{
        width: 70% !important;
    }
}

@media only screen and (max-width: 700px){
    .responsive-width{
        width: 90% !important;
    }
}